.button-background {
  background-color: black;
  width: 200px;
  border-radius: 14px;
  box-shadow: inset 0px 0px 15px grey;
  position: fixed;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -100px;
}

.cta-button {
  padding: 10px;
}

p {
  font-family: helvetica;
  text-align: center;
  font-size: 1.75em;
  letter-spacing: 3px;
  line-height: 50px;
  padding: 40px 20px;
  color: white;
}

.cta-button p {
  background-color: red;
  border-radius: 140px;
  box-shadow: inset 0px 0px 15px silver;
  margin: 0;
  transition-duration: .5s;
  transition-property: background-color, box-shadow, color, font-size;
  transition-delay: 0s, .3s, .3s, .3s;
  transition-timing-function: ease-in-out;
}

.cta-button p:hover {
  background-color: green;
}

.cta-button p:active {
  background-color: green;
  color: lightgreen;
  box-shadow: inset 0px 0px 40px silver;
}
