.dash {
  background-color: black;
  padding-top: 13px;
  padding-bottom: 2px;
  width: 200px;
  height: 190px;
  border-radius: 14px;
  box-shadow: inset 0px 0px 15px grey;
  margin: 0 auto;
}

p {
  font-family: helvetica;
  text-align: center;
  font-size: 1.75em;
  letter-spacing: 3px;
  line-height: 50px;
  padding: 40px 20px;
  color: white;
}

.button p {
  background-color: red;
  border-radius: 140px;
  width: 140px;
  box-shadow: inset 0px 0px 15px silver;
  margin: 0px auto;
  transition-duration: .5s;
  transition-property: background-color, box-shadow, color, font-size;
  transition-delay: 0s, .3s, .3s, .3s;
  transition-timing-function: ease-in-out;
}

.button p:hover {
  background-color: green;
  border-radius: 140px;
  width: 140px;
  height: 100px;
  box-shadow: inset 0px 0px 15px silver;
  margin: 0px auto;
}

.button p:active {
  background-color: green;
  color: lightgreen;
  border-radius: 140px;
  width: 140px;
  height: 100px;
  box-shadow: inset 0px 0px 40px silver;
  margin: 0px auto;
}
